.login-page {
    display: flex;
    direction: row;
}
.form {
    width: 35%;
    padding: 2%;
    background-color: white;
    opacity: 0.8;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 10%;
}
.form__field {
    width: 100%;
}
.form__input {
    padding: 10px 1px;
    margin: 8px 2px;
    border: 2px solid #FEE12B;
    width: 90%;
}
.button-submit {
    width: 20%;
    padding: 10px 1px;
    margin: 8px 2px;
    border-radius: 8px;
    background-color: #FEE12B;
    border: 2px solid #FEE12B;
}